<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML log </title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jun 11 16:20:39 IST 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:25</td>
<td title="Message">##############################################################</td>
</tr>

<tr>
<td>7</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:26</td>
<td title="Message">Starting execution of Test Suite</td>
</tr>

<tr>
<td>210</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:49</td>
<td title="Message">Start: Trying to invoke Chrome Browser</td>
</tr>

<tr>
<td>8411</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:57</td>
<td title="Message">Finish: Successfully invoked Chrome Browser</td>
</tr>

<tr>
<td>8411</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:78</td>
<td title="Message">Start: Trying to maximize browser</td>
</tr>

<tr>
<td>9579</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:80</td>
<td title="Message">End: Successfully maximized browser window</td>
</tr>

<tr>
<td>9608</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:103</td>
<td title="Message">Start: Trying to navigate to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>15375</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:105</td>
<td title="Message">End: Successfully navigated to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>15387</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:36</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>15387</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:37</td>
<td title="Message">Executing Test Case : validateUserLoginElementsAreDisplayed</td>
</tr>

<tr>
<td>15405</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: email</td>
</tr>

<tr>
<td>16121</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: email</td>
</tr>

<tr>
<td>16199</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: password</td>
</tr>

<tr>
<td>16244</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: password</td>
</tr>

<tr>
<td>16302</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:43</td>
<td title="Message">Successfully Executed Test Case : validateUserLoginElementsAreDisplayed</td>
</tr>

<tr>
<td>16302</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:44</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>16309</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:261</td>
<td title="Message">Start: Trying to close browser</td>
</tr>

<tr>
<td>17449</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:263</td>
<td title="Message">End: Successfully closed browser</td>
</tr>

<tr>
<td>17454</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:49</td>
<td title="Message">Start: Trying to invoke Chrome Browser</td>
</tr>

<tr>
<td>28903</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:57</td>
<td title="Message">Finish: Successfully invoked Chrome Browser</td>
</tr>

<tr>
<td>28904</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:78</td>
<td title="Message">Start: Trying to maximize browser</td>
</tr>

<tr>
<td>30067</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:80</td>
<td title="Message">End: Successfully maximized browser window</td>
</tr>

<tr>
<td>30093</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:103</td>
<td title="Message">Start: Trying to navigate to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>36408</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:105</td>
<td title="Message">End: Successfully navigated to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>36413</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:36</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>36414</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:37</td>
<td title="Message">Executing Test Case : validateBrokenLinks</td>
</tr>

<tr>
<td>36415</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:160</td>
<td title="Message">Start: Trying to insert data- demo@knowledgelink.tv in field - By.id: email</td>
</tr>

<tr>
<td>36415</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: email</td>
</tr>

<tr>
<td>38177</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: email</td>
</tr>

<tr>
<td>38686</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:163</td>
<td title="Message">End: Successfully inserted data- demo@knowledgelink.tv in field - By.id: email</td>
</tr>

<tr>
<td>38687</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:160</td>
<td title="Message">Start: Trying to insert data- 79Edulence in field - By.id: password</td>
</tr>

<tr>
<td>38688</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: password</td>
</tr>

<tr>
<td>38740</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: password</td>
</tr>

<tr>
<td>39083</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:163</td>
<td title="Message">End: Successfully inserted data- 79Edulence in field - By.id: password</td>
</tr>

<tr>
<td>39083</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>39083</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>39134</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>39267</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>39268</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>39268</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>44346</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>44644</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>72276</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:43</td>
<td title="Message">Successfully Executed Test Case : validateBrokenLinks</td>
</tr>

<tr>
<td>72277</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:44</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>72277</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:261</td>
<td title="Message">Start: Trying to close browser</td>
</tr>

<tr>
<td>73537</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:263</td>
<td title="Message">End: Successfully closed browser</td>
</tr>

<tr>
<td>73539</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:49</td>
<td title="Message">Start: Trying to invoke Chrome Browser</td>
</tr>

<tr>
<td>76818</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:57</td>
<td title="Message">Finish: Successfully invoked Chrome Browser</td>
</tr>

<tr>
<td>76819</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:78</td>
<td title="Message">Start: Trying to maximize browser</td>
</tr>

<tr>
<td>77969</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:80</td>
<td title="Message">End: Successfully maximized browser window</td>
</tr>

<tr>
<td>77994</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:103</td>
<td title="Message">Start: Trying to navigate to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>87196</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:105</td>
<td title="Message">End: Successfully navigated to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>87198</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:36</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>87199</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:37</td>
<td title="Message">Executing Test Case : validateUserLogin</td>
</tr>

<tr>
<td>87200</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:160</td>
<td title="Message">Start: Trying to insert data- demo@knowledgelink.tv in field - By.id: email</td>
</tr>

<tr>
<td>87200</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: email</td>
</tr>

<tr>
<td>87293</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: email</td>
</tr>

<tr>
<td>87952</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:163</td>
<td title="Message">End: Successfully inserted data- demo@knowledgelink.tv in field - By.id: email</td>
</tr>

<tr>
<td>87953</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:160</td>
<td title="Message">Start: Trying to insert data- 79Edulence in field - By.id: password</td>
</tr>

<tr>
<td>87953</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: password</td>
</tr>

<tr>
<td>88007</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: password</td>
</tr>

<tr>
<td>88402</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:163</td>
<td title="Message">End: Successfully inserted data- 79Edulence in field - By.id: password</td>
</tr>

<tr>
<td>88402</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>88403</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>88448</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>88593</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>88593</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>88593</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>93426</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>93708</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>93708</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:252</td>
<td title="Message">Fetching the URL of the webpage</td>
</tr>

<tr>
<td>93739</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:43</td>
<td title="Message">Successfully Executed Test Case : validateUserLogin</td>
</tr>

<tr>
<td>93739</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:44</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>93740</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:261</td>
<td title="Message">Start: Trying to close browser</td>
</tr>

<tr>
<td>94840</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:263</td>
<td title="Message">End: Successfully closed browser</td>
</tr>

<tr>
<td>94842</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:49</td>
<td title="Message">Start: Trying to invoke Chrome Browser</td>
</tr>

<tr>
<td>97796</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:57</td>
<td title="Message">Finish: Successfully invoked Chrome Browser</td>
</tr>

<tr>
<td>97797</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:78</td>
<td title="Message">Start: Trying to maximize browser</td>
</tr>

<tr>
<td>98955</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:80</td>
<td title="Message">End: Successfully maximized browser window</td>
</tr>

<tr>
<td>98978</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:103</td>
<td title="Message">Start: Trying to navigate to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>104631</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:105</td>
<td title="Message">End: Successfully navigated to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>104631</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:160</td>
<td title="Message">Start: Trying to insert data- demo@knowledgelink.tv in field - By.id: email</td>
</tr>

<tr>
<td>104632</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: email</td>
</tr>

<tr>
<td>105789</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: email</td>
</tr>

<tr>
<td>106188</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:163</td>
<td title="Message">End: Successfully inserted data- demo@knowledgelink.tv in field - By.id: email</td>
</tr>

<tr>
<td>106188</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:160</td>
<td title="Message">Start: Trying to insert data- 79Edulence in field - By.id: password</td>
</tr>

<tr>
<td>106188</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: password</td>
</tr>

<tr>
<td>106228</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: password</td>
</tr>

<tr>
<td>106472</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:163</td>
<td title="Message">End: Successfully inserted data- 79Edulence in field - By.id: password</td>
</tr>

<tr>
<td>106472</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>106472</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>106519</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>106619</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>106619</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>106619</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>111508</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>112187</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>112188</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:36</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>112189</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:37</td>
<td title="Message">Executing Test Case : navigateToAdminPage</td>
</tr>

<tr>
<td>112190</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //div[@class='toggle-btn unselectable usr-user-dropdown']</td>
</tr>

<tr>
<td>112190</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //div[@class='toggle-btn unselectable usr-user-dropdown']</td>
</tr>

<tr>
<td>112266</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //div[@class='toggle-btn unselectable usr-user-dropdown']</td>
</tr>

<tr>
<td>112502</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //div[@class='toggle-btn unselectable usr-user-dropdown']</td>
</tr>

<tr>
<td>112503</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.linkText: Admin page</td>
</tr>

<tr>
<td>112504</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.linkText: Admin page</td>
</tr>

<tr>
<td>112564</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.linkText: Admin page</td>
</tr>

<tr>
<td>112657</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.linkText: Admin page</td>
</tr>

<tr>
<td>117659</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:252</td>
<td title="Message">Fetching the URL of the webpage</td>
</tr>

<tr>
<td>117682</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:52</td>
<td title="Message">Test Case execution Failed : navigateToAdminPage</td>
</tr>

<tr>
<td>117684</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:53</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>118822</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:261</td>
<td title="Message">Start: Trying to close browser</td>
</tr>

<tr>
<td>119819</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:263</td>
<td title="Message">End: Successfully closed browser</td>
</tr>

<tr>
<td>119822</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:49</td>
<td title="Message">Start: Trying to invoke Chrome Browser</td>
</tr>

<tr>
<td>123045</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:57</td>
<td title="Message">Finish: Successfully invoked Chrome Browser</td>
</tr>

<tr>
<td>123045</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:78</td>
<td title="Message">Start: Trying to maximize browser</td>
</tr>

<tr>
<td>124182</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:80</td>
<td title="Message">End: Successfully maximized browser window</td>
</tr>

<tr>
<td>124208</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:103</td>
<td title="Message">Start: Trying to navigate to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>131433</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:105</td>
<td title="Message">End: Successfully navigated to URL- https://edulence.knowledgelink.tv/</td>
</tr>

<tr>
<td>131436</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:160</td>
<td title="Message">Start: Trying to insert data- demo@knowledgelink.tv in field - By.id: email</td>
</tr>

<tr>
<td>131437</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: email</td>
</tr>

<tr>
<td>131905</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: email</td>
</tr>

<tr>
<td>132255</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:163</td>
<td title="Message">End: Successfully inserted data- demo@knowledgelink.tv in field - By.id: email</td>
</tr>

<tr>
<td>132257</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:160</td>
<td title="Message">Start: Trying to insert data- 79Edulence in field - By.id: password</td>
</tr>

<tr>
<td>132257</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.id: password</td>
</tr>

<tr>
<td>132299</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.id: password</td>
</tr>

<tr>
<td>132540</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:163</td>
<td title="Message">End: Successfully inserted data- 79Edulence in field - By.id: password</td>
</tr>

<tr>
<td>132540</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>132541</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>132590</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>132707</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //button[@type='submit']</td>
</tr>

<tr>
<td>132707</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>132708</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>137843</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>138488</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //button[@ng-click='submit()']</td>
</tr>

<tr>
<td>138488</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //div[@class='toggle-btn unselectable usr-user-dropdown']</td>
</tr>

<tr>
<td>138488</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //div[@class='toggle-btn unselectable usr-user-dropdown']</td>
</tr>

<tr>
<td>138542</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //div[@class='toggle-btn unselectable usr-user-dropdown']</td>
</tr>

<tr>
<td>138641</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //div[@class='toggle-btn unselectable usr-user-dropdown']</td>
</tr>

<tr>
<td>138642</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.linkText: Admin page</td>
</tr>

<tr>
<td>138642</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.linkText: Admin page</td>
</tr>

<tr>
<td>138748</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.linkText: Admin page</td>
</tr>

<tr>
<td>138861</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.linkText: Admin page</td>
</tr>

<tr>
<td>138863</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:36</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>138863</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:37</td>
<td title="Message">Executing Test Case : createNewMediaGroups</td>
</tr>

<tr>
<td>138864</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //a[@href='/admin/settings/account']</td>
</tr>

<tr>
<td>138864</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //a[@href='/admin/settings/account']</td>
</tr>

<tr>
<td>144666</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:134</td>
<td title="Message">	End: Successfully located element- By.xpath: //a[@href='/admin/settings/account']</td>
</tr>

<tr>
<td>144791</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:174</td>
<td title="Message">End: Successfully clicked on element- By.xpath: //a[@href='/admin/settings/account']</td>
</tr>

<tr>
<td>144791</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:172</td>
<td title="Message">Start: Trying to click element- By.xpath: //a[@href='/admin/settings/mediagroupp']</td>
</tr>

<tr>
<td>144791</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:130</td>
<td title="Message">	Start: Trying to locate element- By.xpath: //a[@href='/admin/settings/mediagroupp']</td>
</tr>

<tr>
<td>165483</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:52</td>
<td title="Message">Test Case execution Failed : createNewMediaGroups</td>
</tr>

<tr>
<td>165484</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:53</td>
<td title="Message">==============================================================</td>
</tr>

<tr>
<td>165944</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:261</td>
<td title="Message">Start: Trying to close browser</td>
</tr>

<tr>
<td>166730</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>CommonUtilities.java:263</td>
<td title="Message">End: Successfully closed browser</td>
</tr>

<tr>
<td>166771</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:95</td>
<td title="Message">Finished execution of Test Suite</td>
</tr>

<tr>
<td>166772</td>
<td title="main thread">main</td>
<td title="Level">INFO</td>
<td title="utils.CommonUtilities category">utils.CommonUtilities</td>
<td>ITestListenerClass.java:96</td>
<td title="Message">##############################################################</td>
</tr>

<tr>
<td>166948</td>
<td title="main thread">main</td>
<td title="Level"><font color="#339933">DEBUG</font></td>
<td title="freemarker.cache category">freemarker.cache</td>
<td>_Log4jLoggerFactory.java:45</td>
<td title="Message">Couldn't find template in cache for &quot;Extent.ftl&quot;(&quot;en_US&quot;, UTF-8, parsed); will try to load it.</td>
</tr>

<tr>
<td>166951</td>
<td title="main thread">main</td>
<td title="Level"><font color="#339933">DEBUG</font></td>
<td title="freemarker.cache category">freemarker.cache</td>
<td>_Log4jLoggerFactory.java:45</td>
<td title="Message">TemplateLoader.findTemplateSource(&quot;Extent_en_US.ftl&quot;): Not found</td>
</tr>

<tr>
<td>166956</td>
<td title="main thread">main</td>
<td title="Level"><font color="#339933">DEBUG</font></td>
<td title="freemarker.cache category">freemarker.cache</td>
<td>_Log4jLoggerFactory.java:45</td>
<td title="Message">TemplateLoader.findTemplateSource(&quot;Extent_en.ftl&quot;): Not found</td>
</tr>

<tr>
<td>166958</td>
<td title="main thread">main</td>
<td title="Level"><font color="#339933">DEBUG</font></td>
<td title="freemarker.cache category">freemarker.cache</td>
<td>_Log4jLoggerFactory.java:45</td>
<td title="Message">TemplateLoader.findTemplateSource(&quot;Extent.ftl&quot;): Found</td>
</tr>

<tr>
<td>166958</td>
<td title="main thread">main</td>
<td title="Level"><font color="#339933">DEBUG</font></td>
<td title="freemarker.cache category">freemarker.cache</td>
<td>_Log4jLoggerFactory.java:45</td>
<td title="Message">Loading template for &quot;Extent.ftl&quot;(&quot;en_US&quot;, UTF-8, parsed) from &quot;jar:file:/C:/Users/Piyush/.m2/repository/com/relevantcodes/extentreports/2.41.2/extentreports-2.41.2.jar!/com/relevantcodes/extentreports/view/Extent.ftl&quot;</td>
</tr>
